{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<div>
    <h2>Deskripsi pekerjaan</h2>
    <p>Sesuai yang dideskripsikan di dalam Upwork, tahap ini bertujuan untuk mencari orang yang memenuhi persyaratan kami. Mohon perhatikan pernyataan di bawah dengan baik.</p> 
    <b>Milestone 1: Anda harus melewati ujian mendengarkan yang diberikan dengan tepat. </b>
    <p>Apabila jawaban yang diberikan salah, anda tidak akan dapat melanjutkan ke jenjang berikutnya dan tidak akan mendapatkan pembayaran apapun</p> 
    <p> </p>
    <p>Silahkan pastikan bahwa komputer dan earphone anda berfungsi dengan baik. </p>
    <p>Apabila anda sudah siap, silahkan menekan tombol ‘next’. </p>
</div>


{% next_button %}

{% endblock %}
