{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<div>
    <h2>Milestone 3: Sistem dan waktu pembayaran</h2>
    <p>
        Kompensasi eksperimen ini akan dibayar melalui sistem transfer bank oleh pihak Upwork. Milestone 3 mengharuskan anda untuk menunggu sampai waktu yang disepakati sebelum Anda akan menerima remittance. Pembayaran baru akan ditransfer ke rekening anda sesuai dengan tanggal yang sudah disepakati. Apabila waktu pembayaran yang disepakati adalah 3 minggu sesudah eksperimen, maka anda akan menerima pembayaran pada 3 minggu kemudian. Selain itu, biaya kehadiran sebesar US$ 5 yang sudah dijanjikan akan dibayarkan langsung kepada anda secara tunai setelah eksperimen selesai. 
    </p>
</div>
{% next_button %}

{% endblock %}
