{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<div>
    <h2>Instruksi eksperimen</h2>
    <p>Terima kasih atas partisipasi Anda. Eksperimen ini mencakup proyek eksperimen utama dan kuesioner setelah eksperimen selesai dilaksanakan, total waktu yang diperlukan adalah sekitar 20 menit. 
    </p>
    <p>Anda akan mendapatkan uang sebesar $5(USD) sebagai ucapan terima kasih atas partisipasi Anda apabila anda memenuhi milestones yang ditentukan (milestone 2 dan 3). Eksperimen ini adalah eksperimen yang mengharuskan anda untuk membuat beberapa keputusan.  
    </p>
    <p>Akan ada kompensasi lebih yang dapat diberikan berdasarkan keberuntungan dan hasil keputusan yang anda pilih. Silakan baca petunjuk berikut dengan seksama. 
    </p>
</div>

<div>
    <p>Dalam eksperimen ini, pendapatan Anda akan dihitung dalam token. Dasar dari pendapatan nilai tukar Anda akan dihitung dengan nilai tukar berikut: 
    </p>
    <p>10 token =  $0.5 USD 
    </p>
</div>

<div>
    <p>Untuk menjaga privasi anda, keputusan yang anda buat di dalam eksperimen ini tidak akan disebarkan ke pihak lain.
    </p>
</div>

{% next_button %}

{% endblock %}
